@import "../node_modules/compass-mixins/lib/compass/reset";
@import "../node_modules/compass-mixins/lib/compass/css3";
$color-gray: #d1d1d1;
$color-green: #006047;
$font-family: 'Helvetica Neue', Helvetica, Arial, "Microsoft YaHei", sans-serif;

.kill-ie {
  margin: 0;
  padding: 0.5em 0;
  color: #333;
  text-align: center;
  background: #fff8e2;
}

* {
  @include box-sizing(border-box);
}

body {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: #eee;
  overflow: auto;
  padding-top: 5px;
  @media screen and (max-width: 1024px) {
	padding-top: 0;
  }
}

a {
  text-decoration: none;
  @include transition(all .2s ease-in-out);
}

.last-modified {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 1000px;
  color: #bbb;
  margin-left: -500px;
  font-size: 12px;
  text-align: right;
  @media screen and (max-width: 1024px) {
	display: none;
  }
}

.content {
  position: relative;
  width: 1024px;
  margin: 50px auto;
  @include border-radius(5px);
  @include box-shadow(0 0 15px #c0c0c0);
  background-color: #fff;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
	width: 100%;
	margin: 0;
	@include border-radius(0);
  }
}

.content-hd {
  width: 100%;
  padding: 50px 50px;
  color: #fff;
  background-color: $color-green;
  background-image: url(http://xupt-fe.top/image/indexBackground.png);
  background-position: 0px 500px;
  overflow: hidden;
  @media screen and (max-width: 720px) {
	padding: 25px 30px;
  }

  .title {
	width: 100%;
	border-bottom: 2px solid $color-green;
	font-size: 52px;
	font-weight: 300;
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 5px;
  }

  .contact,
  .info,
  .job,
  .name {
	width: 50%;
	@media screen and (max-width: 720px) {
	  width: 100%;
	  text-align: center;
	}
  }

  .name {
	float: left;

	h1 {
	  font-family: "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", $font-family;
	  font-weight: 500;
	  letter-spacing: 5px;
	  @media screen and (max-width: 720px) {
		letter-spacing: 0;
		line-height: 1.25;
		margin-top: 10px;
	  }

	  small {
		font-weight: 400;
		letter-spacing: 0;
		font-size: 24px;
		padding-left: 10px;
		@media screen and (max-width: 720px) {
		  display: block;
		  padding-left: 0;
		  font-size: 20px;
		  line-height: 1;
		}
	  }
	}
  }

  .job {
	float: right;
	text-align: right;
	@media screen and (max-width: 720px) {
	  text-align: center;
	}

	h2 {
	  display: inline-block;
	  font-size: 24px;
	  @media screen and (max-width: 720px) {
		border-top: 1px solid darken($color-green, 2%);
		margin: 5px auto 0;
		padding: 10px;
	  }
	}
  }

  .info {
	float: left;
	padding-left: 5px;
	line-height: 30px;

	h2 {
	  margin: 8px 0 4px;
	  font-size: 18px;
	}

	h3 {
	  font-size: 16px;
	}
  }

  .contact {
	float: right;
	text-align: right;
	padding-right: 5px;

	ul {
	  margin: 8px 0 4px;
	  @media screen and (max-width: 720px) {
		text-align: center;
		margin: 16px 0 0;
	  }

	  & > li {
		height: 22px;
		@media screen and (max-width: 720px) {
		  display: inline-block;
		}

		& > a {
		  color: #fff;
		  font-family: "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", $font-family;
		  font-size: 14px;
		  line-height: 22px;

		  &:hover {
			color: #e8e8e8;
		  }

		  .contact-link {
			@media screen and (max-width: 720px) {
			  display: none;
			}
		  }

		  .iconfont {
			margin-left: 5px;
			@media screen and (max-width: 720px) {
			  font-size: 20px;
			}
		  }
		}
	  }
	}
  }
}

.content-bd {
  width: 100%;
	min-height: 200px;
	margin-top: 30px;
  padding: 20px 30px 50px;
  overflow: hidden;
  @media screen and (max-width: 720px) {
	padding: 20px 20px 50px;
  }

  .content-left,
  .content-right {
	width: 50%;
	@media screen and (max-width: 1024px) {
	  width: 100%;
	}
  }

  .content-left {
	float: left;
  }

  .content-right {
	float: right;
  }

  section {
	overflow: hidden;
	padding: 10px 15px;
  }

  .section-hd {
	position: relative;
	height: 32px;
	margin: 10px auto 5px;
	overflow: hidden;
  }

  .section-bd {
	overflow: hidden;
  }

  .section-title-l,
  .section-title-r {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 35%;
	height: 0;
	vertical-align: middle;
	border-top: 1px solid #ededed;
  }

  .section-title-l {
	left: 0;
  }

  .section-title-r {
	right: 0;
  }

  .section-title {
	position: relative;
	z-index: 1;
	width: 24%;
	min-width: 100px;
	margin: 0 auto;
	padding: 4px 10px;
	@include border-radius(32px);
	font-size: 16px;
	text-align: center;
	background-color: #eee;
  }

  .section-list {
	padding: 10px 0 5px;
  }

  .item-hd {
	position: relative;
	padding: 10px 0 5px;
	line-height: 20px;
	overflow: hidden;
	font-weight: 500;

	.iconfont {
	  color: $color-green;
	}

	.item-time {
	  display: inline-block;
	  float: left;
	  width: 25%;
	  @media screen and (max-width: 720px) {
		width: 100%;
		margin-bottom: 5px;
	  }
	}

	.item-more {
	  float: right;
	  margin-left: 5px;
	}

	.item-disappear {
	  @media screen and (max-width: 720px) {
		display: none;
	  }
	}
	
	.item-name {
	  display: inline-block;
	  float: left;
	}
  }

  .item-bd {
	margin-bottom: 5px;
  }

  .section-content {
	text-align: justify;
	word-break: break-all;
	line-height: 1.7rem;

	.iconfont {
	  color: $color-green;
	}

	em {
	  display: inline-block;
	  font-family: Menlo, $font-family;
	  font-size: 12px;
	  line-height: 14px;
	  border: 1px solid $color-gray;
	  @include border-radius(3px);
	  margin: 2px;
	  padding: 0 3px;
	  background-color: #f7f7f7;
	}

	strong {
	  font-family: $font-family;
	  font-size: 12px;
	  line-height: 14px;
	  border: 1px solid #f3f3f3;
	  @include border-radius(3px);
	  font-weight: 500;
	  color: #444;
	  margin: 2px;
	  padding: 0 3px;
	  background-color: #f6f6f6;
	}
  }

  .skill {
	.section-content {
	  margin-bottom: 5px;
	  line-height: 24px;
	}

	strong {
	  display: inline;
	  line-height: 18px;
	}
  }

  .practice {
	.item-time {
	  width: 32%;
	  @media screen and (max-width: 720px) {
		width: 100%;
	  }
	}
  }

  .prize {
	.item-hd {
	  padding: 12px 0 0;
	}

	.item-time {
	  width: 15%;
	  @media screen and (max-width: 720px) {
		width: 100%;
	  }
	}
  }
}

.btn {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid $color-green;
  border-radius: 3px;
  color: $color-green;
  font-family: Menlo, $font-family;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  &:hover {
	color: #fff;
	background-color: $color-green;
  }
}

.pdf {
  display: inline-block;
  position: fixed;
  z-index: 10;
  bottom: 6px;
  left: 50%;
  margin-left: 520px;
  padding: 0 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  background-color: $color-green;
  @media screen and (max-width: 1246px) {
	left: auto;
	right: 8px;
	margin-left: 0;
  }
}

footer {
  text-align: center;

  .footer-link {
	display: inline-block;
	color: #d1d1d1;
	margin-bottom: 25px;
	@media screen and (max-width: 1024px) {
	  margin-top: 25px;
	}
  }

  &.print-footer {
	display: none;
  }
}

::-webkit-scrollbar {
  background-color: #f1f1f1;
  overflow: visible;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  min-height: 15px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: $color-gray;
}

::-moz-selection {
  background: $color-gray;
}

// 打印样式
@media print {
	.content {
	  width: 970px;
	  height: 1372px;
	  margin: 0 auto;
	  -moz-border-radius: 0;
	  -webkit-border-radius: 0;
	  border-radius: 0;
	}
  
	.content .content-left {
	  width: 52%;
		// 硬编码解决打印时左边和右边不水平的 bug 问题
    position: relative;
		bottom: 5px;
	}
  
	.content .content-right {
	  width: 48%;
	}
  
	.content .content-hd {
	  padding: 40px 50px 20px;
	}
  
	.content .content-hd .title {
	  font-size: 56px;
	  padding-bottom: 5px;
	  margin-bottom: 5px;
	}
  
	.content .content-hd .name h1 small {
	  font-size: 26px;
	  padding-left: 12px;
	}
  
	.content .content-hd .job h2 {
	  font-size: 26px;
	}
  
	.content .content-hd .info {
	  line-height: 32px;
	}
  
	.content .content-hd .info h2 {
	  font-size: 19px;
	}
  
	.content .content-hd .info h3 {
	  font-size: 17px;
	}
  
	.content .content-hd .contact ul {
	  margin-bottom: 0;
	}
  
	.content .content-hd .contact ul > li {
	  height: 25px;
	}
  
	.content .content-hd .contact ul > li > a {
	  font-size: 15px;
	}
  
	.content .content-bd {
	  padding: 15px 30px 50px;
	}
  
	.content .content-bd .item-hd {
	  padding: 10px 0 8px;
	}
  
	.content .content-bd .project .item-hd {
	  padding: 10px 0 6px;
	}
  
	.content .content-bd .practice .item-bd,
	.content .content-bd .project .item-bd {
	  margin-bottom: 0;
	}
  
	.content .content-bd .prize .item-hd {
	  padding: 11px 0 5px;
	}
  
	.content .content-bd .practice .item-time {
	  width: 31%;
	}
  
	.content .content-bd .section-hd {
	  margin: 10px auto 8px;
	}
  
	.content .content-bd section {
	  padding: 10px 20px;
	}
  
	.content .section-content {
	  line-height: 1.75 !important;
	}
  
	.content .project {
	  padding-top: 5px !important;
	}
  
	.content .print-hidden {
	  display: none;
	}
  
	.pdf {
	  display: none;
	}
  
	footer.github-footer {
	  display: none;
	}
  
	footer.print-footer {
	  display: block;
	}
  
	footer.print-footer .footer-link {
	  position: absolute;
	  right: 45px;
	  bottom: 20px;
	  color: #b1b1b1;
	  display: inline-block;
	}
}
